<form action="" method="post" class="form-signin">
    <h2 class="form-signin-heading text-center">New Login</h2>
    <br>
    <input type="text" name="name" placeholder="name" class="form-control" required autofocus><br>
    <input type="email" name="email" placeholder="email" class="form-control" required autofocus><br>
    <input type="password" name="password" placeholder="password" class="form-control" required><br>
    <input type="password" name="confirmPassword" placeholder="confirm password" class="form-control" required><br>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
</form>